#hero{
    background-image: url(../images/new_york.jpg);
    background-position: 0px 4px;
    background-color: #ccc;
    background-size: cover;
    background-position: left top;
    padding: 15em;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-down(md){
        padding: 16px;
    }
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
    }
    .banner-content{
        h1{
            font-size: 40px;
            color: $white;
            text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: -1px;
            margin-top: 30px;
            background-color: rgba(0, 0, 0, 0.2);
            display: inline-block;
            text-transform: uppercase;
            padding: 10px;
            @include media-breakpoint-down(sm){
                font-size: 26px;
            }
        }
        p{
            padding: 10px 15px;
            background-color: rgba(0, 0, 0, 0.2);
            display: inline-block;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1.6;
            font-size: 16px;
            margin: 0 0 10px;
            color: $white;
        }
        .button{
            .button-learn{
                border: 3px solid rgba(255, 255, 255, 0.9);
                color: $white;
                border-radius: 0;
                margin-top: 35px;
                font-size: 19px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 10px 15px;
                text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
                letter-spacing: 4px;
                -webkit-transition: all .4s ease-in-out;
                -moz-transition: all .4s ease-in-out;
                -o-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.9);
                    color: #202020;
                    -webkit-transition: all .4s ease-in-out;
                    -moz-transition: all .4s ease-in-out;
                    -o-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                }
            }
        }
    }
}