#portfolio{
    background: #f8f8f8;
    padding: 80px 0;
    .list{
        .portfolio-filter{
            list-style: none;
            padding: 0;
            margin: 0 -20px 40px 0;
            text-align: center;
            li{
                display: inline-block;
                a.active {
                    color: $white;
                    background: $theme-color;
                    border: 2px solid $theme-color;
                }
                .btn-outlined.btn-primary {
                    background: none;
                    border: 2px solid $theme-color;
                    color: $theme-color;
                }
                .btn {
                    padding: 10px 16px;
                    font-size: 13px;
                    letter-spacing: 2px;
                }
            }
        }
    } 
    .portfoli-list{
        margin-bottom: 20px;
        h5{
            background: $white;
            margin: 0 20px 0 0;
            padding: 20px 10px;
            font-weight: 600;
            font-size: 14px;
            color: $black;
            letter-spacing: 2px;
            text-align: center;
            text-transform: uppercase;
            margin-right: 0;
        }
    }  
}