#stats{
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    display: block;
    color: #f5f5f5;
    padding: 80px 0;
    .stats-details{
        .stat-icon {
            font-size: 44px;
        }
        h1{
            margin: 10px 0;
            font-size: 32px;
            font-weight: 700;
            line-height: 1.1;
            span{
                margin: 10px 0;
                font-size: 32px;
                font-weight: 700;
                line-height: 1.1;
                color: $white;
            }
        }
        h3{
            margin: 0;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.1;
            color: $white;
        }
    }
}