<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Frame</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height: 500px;">
                <div class="col-lg-12">
                    <div class="banner-content text-center animated">
                        <h1 class="title animated fadeInUp">WE GONNA HELP YOU MAKE AN IMPACT</h1>
                        <p class="animated fadeInUp">OUR EXPERTISE WILL GUIDE YOU TO SUCCESS. WITHOUT FAIL.</p>
                        <div class="button animated fadeInUp">
                            <a href="#" target="_blank" role="button" class="btn button-learn">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown">
                        <h2 class="main-title">Stuff We Do</h2>
                        <hr>
                        <p>Of an or game gate west face shed. no great but music too old found arose.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fas fa-camera"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">Photography</h3>
                            <p>Nay middleton him admitting consulted and behaviour son household. Recurred advanced he
                                oh together
                                entrance speedily suitable. Ready tried gay state fat could boy its among shall.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">Marketing</h3>
                            <p>Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do
                                on unpleasing
                                possession as of unreserved.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fas fa-ticket-alt"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">Event Management</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                egestas.
                                Vestibulum tortor quam, feugiat vitae.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">Star Gazing</h3>
                            <p>Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">Software Support</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
                            feugiat vitae.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
                <div class="col-lg-4 col-md-12 col-sm-12 space">
                    <div class="service-block">
                        <div class="service-icon animated bounceIn">
                            <i class="fab fa-google-plus-g"></i>
                        </div>
                        <div class="service-details animated fadeInUp">
                            <h3 class="media-heading">SEO Services</h3>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
                            feugiat vitae.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->
            </div>
        </div>
        <div class="container space">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown">
                        <h2 class="main-title">OUR SKILLS</h2>
                        <hr>
                        <p>OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="reting-details animated bounceIn">
                        <div class="tile-header" style="display: block; height: 161px;">
                            <h3>Video Editing</h3>
                            <span>Our cutting room floor is messy.</span>
                        </div>
                        <div class="tile-progressbar">
                            <span></span>
                        </div>
                        <div class="tile-footer">
                            <h4>
                                <span class="pct-counter counter">65.5</span>%
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="reting-details animated bounceIn">
                        <div class="tile-header" style="display: block; height: 161px;">
                            <h3>Marketing</h3>
                            <span>How well we can sell you and your brand.</span>
                        </div>
                        <div class="tile-progressbar">
                            <span></span>
                        </div>
                        <div class="tile-footer green">
                            <h4>
                                <span class="pct-counter counter">98.5</span>%
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="reting-details animated bounceIn">
                        <div class="tile-header" style="display: block; height: 161px;">
                            <h3>Web Development</h3>
                            <span>We love servers and stuff.</span>
                        </div>
                        <div class="tile-progressbar">
                            <span></span>
                        </div>
                        <div class="tile-footer black">
                            <h4>
                                <span class="pct-counter counter">90</span>%
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="reting-details animated bounceIn">
                        <div class="tile-header" style="display: block; height: 161px;">
                            <h3>Coffee</h3>
                            <span>We done make good joe, though.</span>
                        </div>
                        <div class="tile-progressbar">
                            <span></span>
                        </div>
                        <div class="tile-footer pink">
                            <h4>
                                <span class="pct-counter counter">10</span>%
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <section id="songle-quote">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto fade-up animated fadeInUp">
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <img class="img-responsive" src="images/team01.jpg" style="width: 100px;height:100px;">
                                    </div>
                                    <div class="col-sm-9">
                                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                                            velit!</p>
                                        <small>- Someone famous</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown text-center">
                        <h2 class="main-title">A LITTLE ABOUT US</h2>
                        <hr>
                        <p>OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.</p>
                    </div>
                    <div class="about-details mt-5 mb-5">
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                            ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                            ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                            elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
                            justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                            Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam
                            massa nisl quis neque. Suspendisse in orci enim.</p>
                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                            ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                            ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in
                            elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat
                            justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                            Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam
                            massa nisl quis neque. Suspendisse in orci enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="images/team01.jpg">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>- Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="images/team01.jpg">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>- Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="images/team01.jpg">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>- Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                    <div class="testimonial-list-item">
                        <img class="pull-left img-responsive quote-author-list" src="images/team01.jpg">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <small>- Manager at <cite title="Source Title">Company</cite></small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown text-center">
                        <h2 class="main-title">MEET THE TEAM</h2>
                        <hr>
                        <p>OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="center team-member">
                        <div class="team-image">
                            <img class="img-responsive img-thumbnail animated bounceIn"
                                src="images/team01.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#" rel="prettyPhoto"></a>
                            </div>
                        </div>
                        <div class="team-content fade-up animated fadeInU">
                            <h5>Daniel Jones<small class="role muted">Web Design</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a> 
                            <a class="btn btn-social btn-google-plus" href="#">
                                <i class="fab fa-google-plus"></i>
                            </a> 
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="fab fa-twitter"></i>
                            </a> 
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="center team-member">
                        <div class="team-image">
                            <img class="img-responsive img-thumbnail animated bounceIn" src="images/team02.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#" rel="prettyPhoto"></a>
                            </div>
                        </div>
                        <div class="team-content fade-up animated fadeInU">
                            <h5>JOHN SMITH<small class="role muted">MARKETING DIRECTOR</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-social btn-google-plus" href="#">
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="center team-member">
                        <div class="team-image">
                            <img class="img-responsive img-thumbnail animated bounceIn" src="images/team03.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#" rel="prettyPhoto"></a>
                            </div>
                        </div>
                        <div class="team-content fade-up animated fadeInU">
                            <h5>DAVE GORMAN<small class="role muted">Web Design</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-social btn-google-plus" href="#">
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="center team-member">
                        <div class="team-image">
                            <img class="img-responsive img-thumbnail animated bounceIn" src="images/team01.jpg" alt="">
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#" rel="prettyPhoto"></a>
                            </div>
                        </div>
                        <div class="team-content fade-up animated fadeInU">
                            <h5>Daniel Jones<small class="role muted">Web Design</small></h5>
                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
                            <a class="btn btn-social btn-facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-social btn-google-plus" href="#">
                                <i class="fab fa-google-plus"></i>
                            </a>
                            <a class="btn btn-social btn-twitter" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-social btn-linkedin" href="#">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="text-center stats-details bounce-in animated bounceIn">
                        <span class="stat-icon"><i class="far fa-clock"></i></span>
                        <h1><span class="counter">246000</span></h1>
                        <h3>HOURS SAVED</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="text-center stats-details bounce-in animated bounceIn">
                        <span class="stat-icon"><i class="far fa-lightbulb"></i></span>
                        <h1><span class="counter">16875</span></h1>
                        <h3>FRESH IDEAS</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="text-center stats-details bounce-in animated bounceIn">
                        <span class="stat-icon"><i class="fas fa-project-diagram"></i></span>
                        <h1><span class="counter">99999999</span></h1>
                        <h3>HUGE PROFIT</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 space">
                    <div class="text-center stats-details bounce-in animated bounceIn">
                        <span class="stat-icon"><i class="fas fa-box-open"></i></span>
                        <h1><span class="counter">54875</span></h1>
                        <h3>THINGS IN BOXES</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown text-center">
                        <h2 class="main-title">EXAMPLES OF EXCELLENCE</h2>
                        <hr>
                        <p>SHE EVIL FACE FINE CALM HAVE NOW. SEPARATE SCREENED HE OUTWEIGH OF DISTANCE LANDLORD.</p>
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-lg-12 list m-auto">
                    <ul class="portfolio-filter animated fadeInDown">
                        <li><a class="btn btn-outlined btn-primary active" href="#">All</a></li>
                        <li><a class="btn btn-outlined btn-primary" href="#">Apps</a></li>
                        <li><a class="btn btn-outlined btn-primary" href="#">Nature</a></li>
                        <li><a class="btn btn-outlined btn-primary" href="#">Design</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio01.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio02.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio03.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio04.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio05.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio06.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio07.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio08.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 portfoli-list space">
                    <img src="images/folio09.jpg" class="img-fluid">
                    <h5>Portfolio Project</h5>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown text-center">
                        <h2 class="main-title">FROM THE BLOG</h2>
                        <hr>
                        <p>OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 space">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/folio02.jpg" class="img-responsive img-fluid">
                        </div>  
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 space">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/folio06.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 space">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/folio11.jpg" class="img-responsive img-fluid">
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fade-down section-heading no-display animated fadeInDown text-center">
                        <h2 class="main-title">GET IN TOUCH</h2>
                        <hr>
                        <p>OF AN OR GAME GATE WEST FACE SHED. ﻿NO GREAT BUT MUSIC TOO OLD FOUND AROSE.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 m-auto contact-headign fade-up no-display animated fadeInUp">
                    <h3>Drop Us A Message</h3>
                    <br>
                    <br>
                    <div id="message"></div>
                    <form method="post" action="sendemail.php" id="contactform">
                        <input type="text" name="name" id="name" placeholder="Name">
                        <input type="text" name="email" id="email" placeholder="Email">
                        <input type="text" name="website" id="website" placeholder="Website">
                        <textarea name="comments" id="comments" placeholder="Comments"></textarea>
                        <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 200) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });

    </script>
</body>

</html>